thead td{
    font-weight: 600;
    background-color: hsl(220deg 16% 96%);
}
td, th {
    padding:0.8rem 2rem;
    text-align: center;
    font-size: 12px;
    
  }
.table{
    width: 80%;
    margin: auto;
    border-spacing: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius:8px ;
}

.noData{
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
tbody tr:hover{
    background-color: hsl(220deg 16% 96%);
    cursor: pointer;
}

.rocketList{
    list-style: none;
}
.rocketList li{
    display: flex;
    padding: 10px ;
    border-bottom: 1px solid #ddd;
}
.rocketList li:last-child{
    border :none;
}

.rocketList li p{
    width: 120px;
   margin-right: 50px;
   font-size: 12px;
}